body {
  font-size: 13px;
  line-height: 19px;
  color: #111;
  font-family: "Amazon Ember",Arial,sans-serif;
}

.reviews_section {
  display: flex;
  flex-direction: row;
}

.review_list {
  display: table;
  max-width: 680px;
  width: 90.5%;
}
.left_div {
  padding-left: 300px;
}

.review_card {
  margin-bottom: 22px;
}

/* row a starts here */
.row_a {
  display: table-row;
  min-height: 34px;
  cursor: pointer;
}

.user_image_wrapper {
  display: table-cell;
  width: 43px;
  padding-right: 9px;
}

.user_image {
  height: 34px;
  width: 34px;
  border-radius: 34px;
  border: 2px solid #FFF;
}

.user_name_wrapper {
  display: table-cell;
  vertical-align: middle;
}

.user_name {
  position: relative;
}

/* row b starts here */
.row_b {
  display: table;
}

.stars_wrapper {
  width: 80px;
}

.far.fa-star {
  color:orange;
}

.fas.fa-star {
  color:orange;
}

.top_desc_wrapper {
  display: table-cell;
}

.top_description {
  font-weight: 700;
}
/* row c starts here */

.row_c {
  display: table-row;
  color: #555;
}

.review_date {
  display: table-cell;
}

.row_c_date {
  display: table-cell;
  padding-left: 4px;
}
/* row d starts here */

.row_d {
  margin-bottom: 6px;
}

.verified {
  font-size: 11px;
  line-height: 1.465;
  font-weight: 700;
  color: #c45500;
}

/* row e starts here */

.row_e {
  padding-bottom: 10px;
}

/* row f starts here */

.row_f {
  padding-bottom: 18px;
}

.review_image {
  height: 88px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: inline-block;
    margin-right: 1px;
    margin-bottom: 4px;
    width: auto;
}
/* row g starts here */

.row_g {
  padding-bottom: 10px;
}

.helpful_vote {
  color: #555;
}

/* row h starts here */

.row_h {
  display: table-row;
}

.helpful_button_input {
  margin-right: 5px;
  float: left;
}

.button_wrapper {
  display: table-cell;
  vertical-align: middle;
}

.a_button {
  height: 30.98px;
  width: 99.97px;
  background: #e7e9ec;
  border-radius: 3px;
  border-color: #ADB1B8 #A2A6AC #8D9096;
  background-image: linear-gradient(rgb(247, 248, 250), rgb(231, 233, 236));
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-align: center;
  font-family: "Amazon Ember",Arial,sans-serif;
  text-decoration: none!important;
}

.a_button:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.button_text {
  display: table-cell;
  vertical-align: middle;
}

.divider_span {
  display:table-cell;
  vertical-align: middle;
}

.text_separator {
  display:inline-block;
  margin-top: -2px;
  margin-left: 8.759px;
  margin-right: 8.759px;
  width: 1px;
  background-color: #ddd;
  line-height: 0;
  height: 14px;
  vertical-align: middle;
  background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIIcon-sprite_1x-e943461…._V2_.png);
}

.comment_button_input {
  padding: 0px;
  border: transparent;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 13px!important;
  line-height: 19px!important;
  font-weight: 400!important;
  color: #555!important;
}

.report_button_input {
  padding: 0px;
  border: transparent;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 13px!important;
  line-height: 19px!important;
  font-weight: 400!important;
  color: #555!important;
}